@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: #f6f4ee;
  --foreground: #4d2f19;
  --card: #f0ebe6;
  --card-foreground: #4d2f19;
  --popover: #f6f4ee;
  --popover-foreground: #4d2f19;
  --primary: #c75605;
  --primary-foreground: #fbfaf8;
  --secondary: #f0cdc2;
  --secondary-foreground: #4d2f19;
  --muted: #ebe6e0;
  --muted-foreground: #856147;
  --accent: #f0cdc2;
  --accent-foreground: #4d2f19;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #dbc9bd;
  --input: #dbc9bd;
  --ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
